{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Main -->
<div class="container margin-top margin-bottom">
    <div class="container d-flex justify-content-end">
        <a href="{% url 'cstebase:question-create' %}">
            <div class="btn btn-primary">
                Ask a question
            </div>
        </a>
    </div>
    <h2>Profile</h2>
    <div class="card p-3">
        <div class="card-body">
            <table>
                <tbody>
                    <tr>
                        <img height="300px" width="auto" src="{{ user.profile.image.url }}" alt="profile image">
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>:</td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Bio</td>
                        <td>:</td>
                        <td>{{ user.profile.bio|title }}</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>:</td>
                        <td>{{ user.profile.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Last Name </td>
                        <td>:</td>
                        <td>{{ user.profile.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Birth Day</td>
                        <td>:</td>
                        <td>{{ user.profile.birthday }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>:</td>
                        <td>{{ user.profile.phone|title }}</td>
                    </tr>
                    <tr>
                        <td>Linked in</td>
                        <td>:</td>
                        <td>{{ user.profile.linkedIn|title }}</td>
                    </tr>

                </tbody>

            </table>
        </div>

        <div class="row">
            <div class="col">
                <a href="{% url 'profile_update'  %}">
                    <div class="btn btn-success">
                        Update Profile
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'cstebase:ShowAllQuestionProfileBased' user.username %}">
                    <div class="btn btn-primary">
                        Show all Question
                    </div>
                </a>
            </div>
        </div>



    </div>

</div>
{% endblock content %}