{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Main -->
<div class="container margin-top margin-bottom">
    <div class="container d-flex justify-content-end">
        <a href="{% url 'cstebase:question-create' %}">
            <div class="btn btn-primary">
                Ask a question
            </div>
        </a>
    </div>
    <h2>Profile</h2>
    <div class="card p-3">
        <div class="card-body">
            <table>
                <tbody>
                    <tr>
                        <img height="300px" width="auto" src="{{ ShowProfile.profile.image.url }}" alt="profile image">
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>{{ ShowProfile.email }}</td>
                    </tr>
                    <tr>
                        <td>Bio</td>
                        <td>:</td>
                        <td>{{ ShowProfile.profile.bio }}</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>:</td>
                        <td>{{ ShowProfile.profile.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Last Name </td>
                        <td>:</td>
                        <td>{{ ShowProfile.profile.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Birth Day</td>
                        <td>:</td>
                        <td>{{ ShowProfile.profile.birthday }}</td>
                    </tr>
                    <tr>
                        <td>Linked in</td>
                        <td>:</td>
                        <td>{{ ShowProfile.profile.linkedIn }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="{% url 'cstebase:ShowAllQuestionProfileBased' ShowProfile.username %}">

            <div class="btn btn-success">
            Show all Question    
            </div>
        </a>
    </div>

</div>
{% endblock content %}