
{% extends 'base.html' %}
<!-- {% load static %} -->
{% block content %}
<div  class="container  margin-top">

    <form action="" method="POST">
        {% csrf_token %}
        <div class="container" style="background-color: blanchedalmond; height: 200px; " >
            
            {% if 'delete-answer' in request.path %}
                
            
            <h2 style="text-align: center; padding-top: 35px; font-family: 'Poppins', sans-serif;">Do you wanna delete this Comment? </h2>
            <div class="container11">
                <!-- <button class="btn btn-outline-danger" type="submit" style="font-family: 'Poppins', sans-serif;"><a href="" class="btn btn-outline-danger" style="text-decoration: none;">Delete</a></button> -->
                <button class="btn btn-outline-danger" type="submit" style="font-family: 'Poppins', sans-serif;">Delete</button>
                <a href="{% url 'cstebase:question-detail' question.id %}" class="btn btn-outline-success" >Cancel</a>
            </div>
            {% else %}
            
            <h2 style="text-align: center; padding-top: 35px; font-family: 'Poppins', sans-serif;">Do you wanna delete this question? <b>{{ question.title }}</b></h2>
            <div class="container11">
                <!-- <button class="btn btn-outline-danger" type="submit" style="font-family: 'Poppins', sans-serif;"><a href="" class="btn btn-outline-danger" style="text-decoration: none;">Delete</a></button> -->
                <button class="btn btn-outline-danger" type="submit" style="font-family: 'Poppins', sans-serif;">Delete</button>
                <a href="{% url 'cstebase:question-detail' question.id %}" class="btn btn-outline-success" >Cancel</a>
            </div>
            {% endif %}
                
        </div>
    </form>
</div>

{% endblock content %}