{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

<div class="container">
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <h1 >Title </h1>
          <h5>Be specific and imagine you’re asking a question to another person</h5>
          {{form.title}}
          <br>
          <h1>Body </h1>
          <h5>Include all the information someone would need to answer your question
          </h5>

          {{form.content}}

          <h1>Tags</h1>

          <h3>Press enter and select your tag.</h3>
          <h5><a target="_blank" href="{% url 'cstebase:tags' %}">Show all tags</a>
          </h5>

          {{form.tags}}


          <br>
          <br>


          <br>
          <br>

          <br>
          <br>
          <br>
          <br>

          <br>

          <br>
          <br>

          <h1>If you want to hide your identity please check it on. </h1>
          {{form.anonymous}}

          {{ form.media }}
          <br>
          <br>
          <br>

          {% if question.id is none %}
          <button class="btn btn-success" id="logout-btn" type="submit">Post
               Question</button>
          <button class="btn btn-secondary" id="logout-btn" type="submit"><a id="fa"
                    href="{% url 'cstebase:question-lists' %}" style="color: white; text-decoration: none;">Go
                    back</a></button>
          {% else %}
          <button class="btn btn-success" id="logout-btn" type="submit">Post
               Question</button>
          <a style="text-decoration: none; " class="btn btn-outline-secondary"
               href="{% url 'cstebase:question-detail' question.id %}">Cancel</a>
          {% endif %}
          <br>
          <br>
          <br>


     </form>
     <script>
          $(document).ready(function () {

               var multipleCancelButton = new Choices('#id_tags', {
                    removeItemButton: true,
                    maxItemCount: 5,
                    searchResultLimit: 5,
                    renderChoiceLimit: 5
               });


          });
     </script>
</div>




{% endblock content %}