{% extends 'base.html' %}
{% block content %}

<div class="main-bg ">
    <div class="container p-5">

        <h1 class="hero-title ">Welcome to </h1>
        <div style="color:#D4D925" class="waviy">
            <div class="waivyfirst">

                    <span style="--i:1 ;color:#5CB8E4">C</span>
                    <span style="--i:2;color:#5CB8E4">S</span>
                    <span style="--i:3;color:#5CB8E4">T</span>
                    <span style="--i:4;color:#5CB8E4">E</span>
            </div>
            <div class="waivysecond">

                    <span style="--i:5;color:#5CB8E4">O</span>
                    <span style="--i:6;color:#5CB8E4">V</span>
                    <span style="--i:7;color:#5CB8E4">E</span>
                    <span style="--i:8;color:#5CB8E4">R</span>
                    <span style="--i:9;color:#5CB8E4">F</span>
                    <span style="--i:10;color:#5CB8E4">L</span>
                    <span style="--i:11;color:#5CB8E4">O</span>
                    <span style="--i:12;color:#5CB8E4">W</span>
            </div>
        </div>

    </div>
    <div class="container d-flex justify-content-center">
        <a href="{% url 'cstebase:question-lists' %}">

            <div class="btn btn-outline-primary">Latest Question</div>
        </a>
    </div>
</div>

{% endblock content %}