{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container margin-top margin-bottom p-5">
     <div class="row">
          <div class="col">
               <img class="authentication" src="{% static  'image/authentication.jpg' %}" alt="" srcset="">
          </div>
          <div class="col">
               <h4><b>Sign In</b> </h4>

               <form action="{% url 'signin' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                         <h4>Username</h4>
                         <h6>username is email before @. <br>
                              (exp: <b>email:</b>test01@gmail.com <b>username:</b>test01)</h6>
                         <input class="input-signin" type="text" class="form-control" id='username' name='username'
                              placeholder='Enter your Username' Required> </div>
                    <br>
                    <div class="form-group">
                         <h4>Password</h4>
                         <input class="input-signin" type="password" class="form-control" id='pass1' name='pass1'
                              placeholder='Enter your Password' Required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-Sign mt-3">Sign in</button>
               </form>
          </div>
     </div>
</div>



{% endblock  %}